<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title"> {{id ? 'Update' : 'Add'}} Template</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Template</a>
            </li>
            <li class="breadcrumb-item active"> {{id ? 'Update' : 'Add'}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="step=0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{id ? 'Update' : 'Add'}} Template
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="card">              
                <div class="body">
                  <form class="m-4" #f="ngForm">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Name</mat-label>
                          <input maxlength="25" matInput name="name" #name="ngModel" [(ngModel)]="model.name" required>
                          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                            <span *ngIf="name.errors?.['required']"> Name is required</span>
                            <span *ngIf="name.errors?.['maxlength']"> Max Length is 25 characters</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Complaints</mat-label>
                          <textarea maxlength="1000" matInput name="compliants" #compliants="ngModel" [(ngModel)]="model.compliants">
                          <mat-error *ngIf="compliants.invalid && (compliants.dirty || compliants.touched)">
                            <span *ngIf="compliants.errors?.['maxlength']"> Max Length is 1000</span>
                          </mat-error>
                        </textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Examination</mat-label>
                          <textarea maxlength="1000" matInput name="examination" #examination="ngModel" [(ngModel)]="model.examination">
                            <mat-error *ngIf="examination.invalid && (examination.dirty || examination.touched)">
                              <span *ngIf="examination.errors?.['maxlength']"> Max Length is 1000</span>
                            </mat-error>
                        </textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Impression</mat-label>
                          <textarea maxlength="1000" matInput name="impression" #impression="ngModel" [(ngModel)]="model.impression">
                        </textarea>
                        <mat-error *ngIf="impression.invalid && (impression.dirty || impression.touched)">
                          <span *ngIf="impression.errors?.['maxlength']"> Max Length is 1000</span>
                        </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Advice</mat-label>
                          <textarea maxlength="1000" matInput name="advice" #advice="ngModel" [(ngModel)]="model.advice">
                        </textarea>
                        <mat-error *ngIf="advice.invalid && (advice.dirty || advice.touched)">
                          <span *ngIf="advice.errors?.['maxlength']"> Max Length is 1000</span>
                        </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Plan</mat-label>
                          <textarea maxlength="1000"  matInput name="plan" #plan="ngModel" [(ngModel)]="model.plan">
                        </textarea>
                        <mat-error *ngIf="plan.invalid && (plan.dirty || plan.touched)">
                          <span *ngIf="plan.errors?.['maxlength']"> Max Length is 1000</span>
                        </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Follow Up</mat-label>
                          <textarea maxlength="1000" matInput name="followUp" #followUp="ngModel" [(ngModel)]="model.followUp">
                        </textarea>
                        <mat-error *ngIf="followUp.invalid && (followUp.dirty || followUp.touched)">
                          <span *ngIf="followUp.errors?.['maxlength']"> Max Length is 1000</span>
                        </mat-error>
                        </mat-form-field>
                      </div>
                    </div>                   
                  </form>
                </div>
              </div>
            </div>
          </div>          
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="step=1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Prescription
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <app-prescription (editMode)="edit($event)" [medList]="model.templatePrescriptionModel"></app-prescription>
            <div class="col-12">
              <div class="row" *ngIf="newMed">
                <div class="col-md-3 col-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Medicine Name</mat-label>
                    <span matPrefix>
                      <i class="material-icons">search</i>
                    </span>
                    <input matInput [matAutocomplete]="autoMed" name="medicinName" #medicinName="ngModel"
                      [disabled]="action == 'edit'" [(ngModel)]="activePrescription.medicinName"
                      (ngModelChange)="doMedFilter(activePrescription.medicinName)">
                    <mat-hint> <span class="bolder font-large">{{activePrescription.genericName ? activePrescription.genericName : "Generic Name"}}</span> </mat-hint>
                    <mat-error *ngIf="medicinName.invalid && (medicinName.dirty || medicinName.touched)">
                      <span *ngIf="medicinName.errors?.['required']"> Medicine Name is required</span>
                    </mat-error>
                  </mat-form-field>
                  <mat-autocomplete autoActiveFirstOption #autoMed="matAutocomplete"
                    (optionSelected)="onMedSelectionChanged($event)">
                    <mat-option *ngFor="let eachOption of prescriptionOptions" [value]="eachOption.medicinName">
                      {{eachOption.medicinName}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div class="col-md-2 col-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline" required>
                    <mat-label>Strength</mat-label>
                    <mat-select #strength="ngModel" [(ngModel)]="activePrescription.strength" required
                      name="strength">
                      <mat-option value="0.5mg">0.5mg</mat-option>
                      <mat-option value="0.25mg">0.25mg</mat-option>
                      <mat-option value="4mg">4mg</mat-option>
                      <mat-option value="15mg">15mg</mat-option>
                      <mat-option value="30mg">30mg</mat-option>
                      <mat-option value="75mg">75mg</mat-option>
                      <mat-option value="500mg">500mg</mat-option>
                      <mat-option value="400mg">400mg</mat-option>
                      <mat-option value="250mg">250mg</mat-option>
                      <mat-option value="100mg">100mg</mat-option>
                      <mat-option value="0.4 / 0.5mg">0.4 / 0.5mg</mat-option>
                    </mat-select>
                    <mat-error *ngIf="strength.invalid && (strength.dirty || strength.touched)">
                      <span *ngIf="strength.errors?.['required']"> Strength is required</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-3 col-12">
                  <mat-radio-group aria-label="schedule" [(ngModel)]="activePrescription.beforeFood">
                    <mat-radio-button [value]="true">Before Food</mat-radio-button>
                    <mat-radio-button [value]="false">After Food</mat-radio-button>
                  </mat-radio-group>
                  <section class="example-section">
                    <mat-checkbox [(ngModel)]="activePrescription.morning" name="morning" class="example-margin">
                      Morning</mat-checkbox>
                    <mat-checkbox [(ngModel)]="activePrescription.noon" name="noon" class="example-margin">Noon
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="activePrescription.night" name="night" class="example-margin">Night
                    </mat-checkbox>
                  </section>
                </div>
                <div class="col-md-2 col-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Remarks </mat-label>
                    <input maxlength="500" matInput [(ngModel)]="activePrescription.description" name="description">
                  </mat-form-field>
                </div>
                <div class="col-md-2 col-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>No of Days </mat-label>
                    <input #noOfDays="ngModel" matInput [(ngModel)]="activePrescription.noOfDays" name="noOfDays"
                      type="number" [min]="1" required>
                    <mat-error *ngIf="noOfDays.invalid && (noOfDays.dirty || noOfDays.touched)">
                      <span *ngIf="noOfDays.errors?.['required']"> No Of Days is required</span>
                      <span *ngIf="noOfDays.errors?.['min']"> No Of Days must be minimum of 1</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 text-center">
                  <button
                    [disabled]="!activePrescription.medicinName || !activePrescription.strength || !activePrescription.noOfDays"
                    (click)="addPrescription()" class="btn btn-sm btn-success mr-2">Done</button>
                  &nbsp; <button (click)="cancelPrescription()" class="btn btn-sm btn-danger mr-2">Cancel</button>
                </div>
              </div>
              <div class="col-12 text-center" *ngIf="!newMed">
                <button (click)="addMed()" class="btn btn-sm btn-primary">Add</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 p-3">
        <button *ngIf="!id" (click)="onSubmit()" class="btn-space" [disabled]="!f.form.valid || newMed"
          mat-raised-button color="primary">Submit</button>
        <button *ngIf="id" (click)="update()" class="btn-space" [disabled]="!f.form.valid || newMed"
          mat-raised-button color="primary">Update</button>
        <button routerLink="/doctor/all-template" type="button" mat-button>Cancel</button>
      </div>
    </div>
  </div>
</section>