<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style">
            <li class="breadcrumb-item">
              <h4 class="page-title"> {{model.patientModel?.patientName}} ({{model.patientModel?.age}})</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/patients"> Patients</a>
            </li>
            <li class="breadcrumb-item active">Patient Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card" style="
            background: #ecf0f4;
            -webkit-box-shadow: 0 0 10px 0 rgb(183 192 206 / 0%);
            border: none;
          ">
          <div class="body">
            <!-- Add content here -->
            <div class="row">
              <div class="col-lg-10 col-md-12">
                <div class="card">
                  <div class="tabs effect-2">
                    <!-- tab-title -->
                    <!-- <div class="tab_Sec" > -->
                    <input type="radio" id="tab-1" name="tab-effect-2" checked="checked" />
                    <span>
                      <img src="assets/images/icons/dr.png" width="24px" />
                      <span><strong>&nbsp;&nbsp;&nbsp;Profile </strong></span>
                    </span>
                    <input type="radio" id="tab-2" name="tab-effect-2" />
                    <span>
                      <img src="assets/images/icons/pres.png" width="24px" />
                      <span><strong>&nbsp;&nbsp;&nbsp;Prescription </strong></span>
                    </span>
                    <input type="radio" id="tab-3" name="tab-effect-2">
                    <span>
                      <img src="assets/images/icons/vitals.png" width="24px" />
                      <span><strong>&nbsp;&nbsp;&nbsp;Procedure </strong></span>
                    </span>
                    <!-- tab-content -->
                    <div class="tab-content white_card">
                      <form class="m-4" #f="ngForm">
                        <section id="tab-item-1">
                          <!-- <h1>One</h1> -->
                          <!-- <div class="row top_chips">
                            <div class="col-md-9 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Add Template</mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/impression.png" width="24px" height="24px"
                                    class="icon_frm" />
                                </span>
                                <input matInput placeholder="Type Template Name" />

                               
                              </mat-form-field>
                            </div>
                            <div class="col-md-3 m_b0">
                              <div class="example-button-row m_t5">
                                <div class="example-flex-container row">
                                  <div class="example-button-container col-md-6">
                                    <button mat-fab color="primary" class="font-15"
                                      aria-label="Example icon button with a delete icon">
                                      <mat-icon>check</mat-icon>
                                    </button>
                                  </div>
                                  <div class="example-button-container col-md-6">
                                    <button mat-fab color="warn" class="font-15"
                                      aria-label="Example icon button with a home icon">
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>  
                          <br>
                          <div class="row top_chips">
                            <div class="col-md-9 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Add Diagnosis</mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/dr.png" width="24px" height="24px"
                                    class="icon_frm" />
                                </span>
                                <input matInput placeholder="Type Diagnosis Name" />
                              </mat-form-field>
                            </div>
                            <div class="col-md-3 m_b0">
                              <div class="example-button-row m_t5">
                                <div class="example-flex-container row">

                                  <div class="example-button-container col-md-6">
                                    <button mat-fab color="primary" class="font-15"
                                      aria-label="Example icon button with a delete icon">
                                      <mat-icon>check</mat-icon>
                                    </button>
                                  </div>
                                  <div class="example-button-container col-md-6">
                                    <button mat-fab color="warn" class="font-15"
                                      aria-label="Example icon button with a home icon">
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div> -->


                          <div class="row align-items-center" *ngIf="!templateLoading">
                            <div class="col-12 mb-2">
                              <h6>Template</h6>
                            </div>
                            <div class="row align-items-center">
                              <div class="col-12 mb-2">
                                <mat-chip-list aria-label="Template Display">
                                  <mat-chip *ngFor="let template of selectedTemplateObjs; let index = index"
                                    selectable="true" removable="true">
                                    {{template.name}}
                                  </mat-chip>
                                </mat-chip-list>
                              </div>
                            </div>
                          </div>

                          <div class="row align-items-center" style="margin-top: 20px;">
                            <div class="col-12 mb-2">
                              <h6>Diagnosis</h6>
                            </div>

                            <div class="col-12 mb-2">

                              <mat-chip-list aria-label="Template Display">
                                <mat-chip *ngFor="let template of model.patientDiagnosisModel; let index = index"
                                  selectable="true" removable="true">
                                  {{template.diagnosisMasterName}}
                                </mat-chip>
                              </mat-chip-list>
                            </div>
                          </div>
                          <div class="row">


                            <div class="col-md-6 m_b0">
                              <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Complaints</mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/complaint.png" width="24px" height="24px"
                                    class="icon_frm" />
                                </span>
                                <input matInput name="compliants" #compliants="ngModel" [(ngModel)]="model.compliants"
                                  readonly>
                              </mat-form-field>

                            </div>

                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Examination </mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/exam.png" width="24px" height="24px"
                                    class="icon_frm" /></span>
                                <textarea maxlength="1000" matInput name="examination" #examination="ngModel"
                                  [(ngModel)]="model.examination" readonly>
                                                  </textarea>
                              </mat-form-field>
                            </div>

                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Past History</mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/dr.png" width="24px" height="24px"
                                    class="icon_frm" />
                                </span>
                                <textarea maxlength="1000" matInput name="pastHistory" #pastHistory="ngModel"
                                  [(ngModel)]="model.pastHistory" readonly>
                              </textarea>
                              </mat-form-field>
                            </div>

                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Investigation Results</mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/dr.png" width="24px" height="24px"
                                    class="icon_frm" />
                                </span>
                                <textarea maxlength="1000" matInput name="investigationResults" readonly
                                  #investigationResults="ngModel" [(ngModel)]="model.investigationResults">
                                </textarea>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Impression</mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/impression.png" width="24px" height="24px"
                                    class="icon_frm" /></span>
                                <textarea maxlength="1000" matInput name="impression" #impression="ngModel"
                                  [(ngModel)]="model.impression" readonly>
                                </textarea>
                              </mat-form-field>
                            </div>

                            <div class="col-md-12 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Advice </mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/advice.png" width="24px" height="24px"
                                    class="icon_frm" /></span>
                                <textarea maxlength="1000" matInput name="advice" #advice="ngModel"
                                  [(ngModel)]="model.advice" readonly>
                                </textarea>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Plan</mat-label>
                                <span matPrefix>
                                  <img matSuffix src="assets/images/icons/plan.png" width="24px" height="24px"
                                    class="icon_frm" /></span>
                                <textarea maxlength="1000" matInput name="plan" #plan="ngModel" [(ngModel)]="model.plan"
                                  readonly>
                                  </textarea>
                              </mat-form-field>
                            </div>
                            <div class="col-md-5 m_b0">

                              <mat-checkbox class="mb-3" readonly [checked] ="model.isfollowUpNeed" name="isfollowUpNeed" disabled>Follow
                                Up Needed
                              </mat-checkbox>

                            </div>
                            <div class="col-md-6 m_b0" *ngIf="model.isfollowUpNeed">
                              <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label> Date & Time</mat-label>
                                <input matInput [owlDateTimeTrigger]="date2" [owlDateTime]="date2" #followUp="ngModel"
                                  name="followUp" [(ngModel)]="model.followUp" [min]="today" readonly>
                                <mat-icon matSuffix [owlDateTimeTrigger]="date2" class="date-icon">today</mat-icon>
                                <owl-date-time #date2></owl-date-time>
                              
                              </mat-form-field>
                            </div>

                          </div>
                        </section>
                        <section id="tab-item-2">
                          <div class="col-12 text-right m-1">
                            <button class="btn btn-primary btn-sm" (click)="printPrescrption()">
                              Print Preview
                            </button>
                          </div>
                          <!-- <h1>Two</h1> -->
                          <app-prescription [readyOnly]="true" [medList]="model.prescriptionModel">
                          </app-prescription>
                        

                        </section>
                        <section id="tab-item-3">
                          <!-- <h1>Three</h1> -->
                          <div class="row align-items-center" *ngIf="!procedureLoading">
                            <div class="col-12 mb-2">
                              <h6>Procedure</h6>
                            </div>
                            <div class="row align-items-center">
                              <div class="col-12 mb-2">
                                <ng-template #displayProcedure>
                                  <mat-chip-list aria-label="Template Display">
                                    <mat-chip *ngFor="let template of selectedProcedureObjs; let index = index"
                                      selectable="true" removable="true">
                                      {{template.procedurename}}
                                    </mat-chip>
                                  </mat-chip-list>
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        
                          <div class="row">
                            <div class="col-md-12 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Procedure</mat-label>
                                <textarea maxlength="1000" matInput name="procedurename" #procedurename="ngModel"
                                  [(ngModel)]="model.procedureModel.procedurename" readonly>
                                </textarea>
                              </mat-form-field>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>diagnosis</mat-label>
                                <textarea maxlength="1000" matInput name="diagnosis" #diagnosis="ngModel"
                                  [(ngModel)]="model.procedureModel.diagnosis" readonly>
                                </textarea>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Date</mat-label>
                                <input matInput [owlDateTimeTrigger]="date2" [owlDateTime]="date2"
                                  #appointmentDateTime="ngModel" name="appointmentDate"
                                  [(ngModel)]="model.procedureModel.date" readonly>
                                <mat-icon matSuffix [owlDateTimeTrigger]="date2" class="date-icon">today</mat-icon>
                                <owl-date-time #date2></owl-date-time>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea maxlength="1000" matInput name="procDescription" #procDescription="ngModel"
                                  [(ngModel)]="model.procedureModel.description" readonly>
                                </textarea>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Anesthesia</mat-label>
                                <input placeholder="Anesthesia" maxlength="1000" matInput name="anesthesia"
                                  #anesthesia="ngModel" [(ngModel)]="model.procedureModel.anesthesia" readonly />
                                <!-- <input maxlength="1000" matInput name="anesthesia"
                                  #anesthesia="ngModel" [(ngModel)]="model.procedureModel.anesthesia">
                                </input> -->
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Facility</mat-label>
                                <input maxlength="1000" matInput name="procFacility" #procFacility="ngModel" readonly
                                  [(ngModel)]="model.procedureModel.referedByName" readonly />
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Complication</mat-label>
                                <input maxlength="1000" matInput name="complication" #complication="ngModel"
                                  [(ngModel)]="model.procedureModel.complication" readonly />
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Others</mat-label>
                                <input readonly maxlength="1000" matInput name="others" #others="ngModel"
                                  [(ngModel)]="model.procedureModel.others" readonly />
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 m_b0">
                              <mat-form-field appearance="outline">
                                <mat-label>Actual Cost</mat-label>
                                <input type="number" readonly maxlength="1000" matInput name="actualCost"
                                  #actualCost="ngModel" [(ngModel)]="model.procedureModel.actualCost" readonly />
                              </mat-form-field>
                            </div>
                          </div>

                        </section>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-md-12">
                <div class="card">
                  <div class="col-lg-12 col-md-12 res_head" style="text-align: center">
                    <br />
                    <h4><strong>Results</strong></h4>
                  </div>
                  <div class="header">
                    <div class="row">
                      <!-- <div class="col-lg-12 col-md-12">
                        <div (click)="openLg(content)" class="card">
                          <div style="cursor: pointer;
                              text-align: center;
                              padding: 10px;
                              border: solid 1px gray;
                              border-radius: 10px;
                            ">
                            <img src="assets/images/icons/invistigation.png" width="40px" />
                            <p style="font-size: 14px;margin-top: 1rem;
                            margin-bottom: 0rem;"><strong>Investigations</strong></p>
                          </div>
                        </div>
                      </div> 
                      <div class="col-lg-12 col-md-12">
                        <div (click)="openLg(content2)" class="card">
                          <div style="
                              text-align: center;
                              padding: 10px;
                              border: solid 1px gray;
                              border-radius: 10px;
                            ">
                            <img src="assets/images/icons/vitals.png" width="40px" />
                            <p style="font-size: 14px;margin-top: 1rem;
                            margin-bottom: 0rem;"><strong>Past Visits</strong></p>
                          </div>
                        </div>
                      </div>-->
                      <div class="col-lg-12 col-md-12">
                        <div (click)="open(content3)" class="card">
                          <div style="
                              text-align: center;
                              padding: 10px;
                              border: solid 1px gray;
                              border-radius: 10px; ">
                            <img src="assets/images/icons/pro.png" width="45px" />
                            <p style="font-size: 14px;margin-top: 1rem;
                            margin-bottom: 0rem;"><strong>Vitals</strong></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12">
                        <div (click)="openLg(content4)" class="card">
                          <div style=" cursor: pointer;
                              text-align: center;
                              padding: 10px;
                              border: solid 1px gray;
                              border-radius: 10px;">
                            <i class="fas fa-solid fa-download"></i>&nbsp;&nbsp;
                            <p style="font-size: 14px;margin-top: 1rem;
                            margin-bottom: 0rem;"><strong> Past
                                Records</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--///////////////// Model Investigations Dilaoge///////////////// -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="text-align: center;padding: 10px;">
    <h4 class="modal-title" id="modal-basic-title"><img width="25px"
        src="assets/images/icons/invistigation.png">&nbsp;&nbsp; Investigations</h4>

    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body modal-lg">

    <div class="row align-items-center">

      <div class="col-md-9 col-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Investigation</mat-label>
          <mat-chip-list #chipTestList aria-label="Diagnosis selection">
            <mat-chip *ngFor="let template of model.patientTestModel; let index = index" selectable="true"
              removable="true">
              {{template.testMasterName}}
            </mat-chip>
            <input #testCtrl="ngModel" name="test" [(ngModel)]="selectedTestName" [matAutocomplete]="autoTemp"
              [matChipInputFor]="chipTestList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
          </mat-chip-list>
          <mat-autocomplete #autoTemp="matAutocomplete" (optionSelected)="addTest($event)">
            <mat-option *ngFor="let template of inestigationOptions" [value]="template.name">
              {{template.name}}
            </mat-option>
            <mat-option *ngIf="inestigationOptions.length == 0">No Data Found</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

    </div>
  </div>
</ng-template>
<!--///////////////// Model Investigations Dilaoge///////////////// -->






<!--///////////////// Model Past Record Dilaoge///////////////// -->
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header" style="text-align: center;padding: 10px;">
    <h4 class="modal-title" id="modal-basic-title"><img width="25px" src="assets/images/icons/vitals.png">&nbsp;&nbsp;
      Past Record</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body scroll" style="overflow-y: auto;height: 450px;padding: 11px 5px;max-width: 825px;">
    <!-- <p>Hello, World!</p> -->
    <div style="clear: both;height: 15px;">&nbsp;</div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="body">
        <div class="col-md-12">
          <ul class="left-timeline">
            <li *ngFor="let each of pastHistoryList">
              <time class="left-time" datetime="2017-10-22T12:13">
                <span class="mb-0 btn-link" (click)="goto(each?.appointmentId)">
                  {{each?.appointment?.appointmentDateTime | date: 'dd/MM/yyyy'}}
                </span>
              </time>
              <div class="left-icon"> <img
                  src="https://www.einfosoft.com/templates/admin/cliniva/source/light/assets/images/user/user3.jpg"
                  alt="">
              </div>
              <div class="left-label">
                <h2><a href="#" onClick=" false;">{{each?.appointment?.consultingDoctorName}}</a><br>

                </h2>
                <div class="row">
                  <div class="header">
                    <h2>Prescription / Reports</h2>
                  </div>
                  <div class="body">
                    <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                      <li class="report-list" *ngFor="let item of each.prescriptionModel">
                        <div class="d-flex">
                          <i class="fas fa-solid fa-pills file-style col-red font-20"></i>

                          <div class="media-title font-15 wid_154">
                            {{item.medicineName}}
                            <span>({{item.genericName ? item.genericName : item.medicineName}}) {{item.categoryName ?
                              item.categoryName : ''}} {{item.strength}}{{item.units ? item.units : ''}}</span>
                          </div>

                          <div class="media-title font-16" style="text-align: center;
                                      font-size: 11px;"> {{item.morning ? 1 : 0}}-{{item.noon? 1:0}}-{{item.night? 1:
                            0}}<br>{{item.beforeFood ? "Before Food": "After Food"}}</div>
                        </div>
                        <div class="ms-auto">
                          <td>

                            <i class="fas fa-solid fa-eye"></i>
                          </td>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>


          </ul>


        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>
<!--///////////////// Model Past Record Dilaoge///////////////// -->




<!--///////////////// Model Vitals Dilaoge///////////////// -->
<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header" style="text-align: center;padding: 10px;">
    <h4 class="modal-title" id="modal-basic-title"><img width="25px" src="assets/images/icons/pro.png">&nbsp;&nbsp;
      Vitals</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body scroll" style="overflow-y: auto;height: 500px;padding: 11px 5px;">
    <!-- <p>Hello, World!</p> -->
    <div style="clear: both;height: 15px;">&nbsp;</div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row" *ngIf="model?.appointment?.vitalsReportModel?.height|| model?.appointment?.vitalsReportModel?.weight
      || model?.appointment?.vitalsReportModel?.spO2 || model?.appointment?.vitalsReportModel?.pulse 
      || model?.appointment?.vitalsReportModel?.temprature">
        <div class="col-md-12 mb-0">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Temperature</mat-label>
            <input matInput type="number" readonly [(ngModel)]="model.appointment.vitalsReportModel.temprature"
              name="temprature" />
            <span matSuffix>&#8451;</span>
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-0">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>SpO2</mat-label>
            <input matInput type="number" readonly [(ngModel)]="model.appointment.vitalsReportModel.spO2" name="spO2">
            <span matSuffix>%</span>
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-0">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Pulse</mat-label>
            <input matInput type="number" readonly [(ngModel)]="model.appointment.vitalsReportModel.pulse" name="pulse">
            <span matSuffix>/min</span>
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-0">
          <mat-form-field class="example-full-width mb-3" appearance="outline" name="bp">
            <mat-label>BP</mat-label>
            <input matInput type="text" readonly mask="000/00"
              [(ngModel)]="model.appointment.vitalsReportModel.bloodPresure">
            <span matSuffix>mmHg</span>
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-0">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Weight</mat-label>
            <input matInput type="number" readonly [(ngModel)]="model.appointment.vitalsReportModel.weight"
              name="weight">
            <span matSuffix>kg</span>
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-0">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Height</mat-label>
            <input matInput type="number" readonly [(ngModel)]="model.appointment.vitalsReportModel.height"
              name="height">
            <span matSuffix>cm</span>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

</ng-template>
<!--///////////////// Model Vitals Dilaoge///////////////// -->


<!--///////////////// Model Reports///////////////// -->
<ng-template #content4 let-c="close" let-d="dismiss">
  <div class="modal-header" style="text-align: center;padding: 10px;">
    <h4 class="modal-title" id="modal-basic-title"><img width="25px" src="assets/images/icons/pro.png">&nbsp;&nbsp;
      Reports</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body scroll" style="overflow-y: auto;height: 450px;padding: 11px 5px;">
    <!-- <p>Hello, World!</p> -->
    <div style="clear: both;height: 15px;">&nbsp;</div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row" *ngIf="model.appointment?.patientFiles?.length > 0">
        <div class="card p-2">
          <h5 class="p-3">
            Files
          </h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let eachFile of model.appointment.patientFiles">
              <a style="color:#0d6efd; cursor:pointer;" (click)="downloadFile(eachFile)">{{eachFile.fileName}}</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #visits let-modal minWidth="400">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Past Visit</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row head-row">
      <div class="col-md-4 col-12">
        <h5 class="mb-0">Doctor</h5>
      </div>
      <div class="col-md-3 col-12">
        <h5 class="mb-0">Date</h5>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="mb-0">Treatment</h5>
      </div>
      <div class="col-md-1 col-12">

      </div>
    </div>
    <ng-template #noData>
      <div class="row head-row">
        <div class="col-md-12 col-12">
          No data found
        </div>
      </div>
    </ng-template>
    <ngb-accordion *ngIf="pastHistoryList?.length > 0; else noData" [closeOthers]="true" class="acc-btn-last">
      <ngb-panel id="visit-1" *ngFor="let each of pastHistoryList">
        <ng-template ngbPanelHeader let-opened="each?.appointment?.isOpened">
          <div class="row">
            <div class="col-md-4 col-12">
              <h6 class="mb-0">{{each?.appointment?.consultingDoctorName}}</h6>
            </div>
            <div class="col-md-3 col-12">
              <h6 class="mb-0 btn-link" (click)="goto(each?.appointmentId)">
                {{each?.appointment?.appointmentDateTime | date: 'dd/MM/yyyy'}}
              </h6>
            </div>
            <div class="col-md-4 col-12">
              <h6 class="mb-0">{{each?.appointment?.description}}</h6>
            </div>
            <div class="col-md-1 col-12">
              <button ngbPanelToggle class="btn btn-link p-0" (click)="changeOpened(each)">
                <i class="fas fa-minus" *ngIf="each?.appointment?.isOpened"></i>
                <i *ngIf="!each?.appointment?.isOpened" class="fas fa-plus-circle"></i>
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template *ngIf="!each.prescriptionModel || each.prescriptionModel?.length == 0" ngbPanelContent>
          No data found
        </ng-template>

        <ng-template ngbPanelContent *ngIf="each.prescriptionModel?.length > 0">
          <app-prescription [medList]="each.prescriptionModel" [readyOnly]="true"></app-prescription>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
    </div> -->
</ng-template>
<ng-template #investigation let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Investigation
      Results</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-12 mb-2" *ngIf="!isTestSelected">
        <!-- <ng-template #diagsSelection> -->

        <div class="row align-items-center">
          <div class="col-md-9 col-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Investigation</mat-label>
              <mat-chip-list #chipTestList aria-label="Diagnosis selection">
                <mat-chip *ngFor="let template of model.patientTestModel; let index = index" selectable="true"
                  removable="true">
                  {{template.testMasterName}}
                </mat-chip>
                <input #testCtrl="ngModel" name="diag" [(ngModel)]="selectedTestName" [matAutocomplete]="autoTemp"
                  [matChipInputFor]="chipTestList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
              </mat-chip-list>
              <mat-autocomplete #autoTemp="matAutocomplete" (optionSelected)="addTest($event)">
                <mat-option *ngFor="let template of inestigationOptions" [value]="template.name">
                  {{template.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-3 mb-2">
            <button (click)="saveTest()" class="btn btn-success me-2">Done</button>
            <button [disabled]="model.patientTestModel?.length < 1" (click)="cancelTest()"
              class="btn btn-danger">Cancel</button>
          </div>

        </div>
        <!-- </ng-template> -->
      </div>
      <div class="col-12 mb-2" *ngIf="isTestSelected">
        <!-- <ng-template #displayDiags> -->
        <mat-chip-list aria-label="Template Display">
          <mat-chip *ngFor="let template of model.patientTestModel; let index = index" selectable="true"
            removable="true">
            {{template.testMasterName}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>


<div class="hidden">
  <div class="card" id="section-to-print" *ngIf="model?.patientModel?.patientName">
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-10">
           <img style="width: 250px;padding: 10px;" class="mx-auto d-block"
            src="http://pisystemsimran-001-site1.dtempurl.com/assets/images/pih-logo.png">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 text-right">
          <button id="print-btn" onclick="printing()" class="mt-1 btn btn-sm btn-primary">Print</button>
        </div>
      </div> -->
      <div class="col-md-8 col-sm-8 col-xs-8" style=" padding: 15px;">
        <div>
          <strong> Name: </strong> {{model?.patientModel?.patientName}}
        </div>
        <div>
          <strong>Gender (Age): </strong> {{model.patientModel?.gender}} {{model.patientModel?.age}}
        </div>
        <div>
          <strong> Consultant:</strong> {{model.appointment?.consultingDoctorName}}
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4" style=" padding: 25px;border-left: none;">
        <div>
          <strong>Date: </strong> {{model?.appointment?.appointmentDateTime | date}}
        </div>
        <div>
          <strong>UHID: </strong> {{model?.patientModel?.ulId}}
        </div>
        <div style="color: transparent">.</div>
      </div>
      <div class="col-md-12 col-sm-12" style="padding: 25px; margin-top: 15px;"
        style=" border-top: none;padding-top: 10px;">
        <div class="row clearfix">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div *ngIf="model.compliants" class="row">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <strong>Complaints</strong>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9">
                : {{model.compliants}}
              </div>
            </div>
            <div *ngIf="model.patientTestModel?.length > 0" class="row clearfix">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <strong>Investigation Results</strong>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9">
                : <span *ngFor="let each of model.patientTestModel">
                  {{each.testMasterName}} {{each.remarks}} &nbsp;
                </span>
              </div>
            </div>
            <div *ngIf="model.impression" class="row clearfix">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <strong>Impression</strong>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9">
                : {{model.impression}}
              </div>
            </div>
            <div *ngIf="model.advice" class="row clearfix">
              <div class="col-md-3 col-sm-3 col-xs-3">
                <strong>Advice</strong>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-9">
                : {{model.advice}}
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12" style="margin-top: 20px;">
            <table class="table table-bordered">
              <thead>
                <tr class="row">
                  <th class="col-md-1 col-sm-1 col-xs-1">
                    Rx
                  </th>
                  <th class="col-md-8 col-sm-8 col-xs-8">
                    Medicine Name
                  </th>
                  <th class="col-md-1 col-sm-1 col-xs-1">
                    Frequency
                  </th>
                  <th class="col-md-1 col-sm-1 col-xs-1">
                    Duration
                  </th>
                  <th class="col-md-1 col-sm-1 col-xs-1">
                    Notes
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="row" *ngFor="let each of model.prescriptionModel; let index = index">
                  <td class="col-md-1 col-sm-1 col-xs-1">
                    {{index + 1}}
                  </td>
                  <td class="col-md-8 col-sm-8 col-xs-8">
                    {{each.medicineName}} - {{each.strength}} ({{each.genericName ? each.genericName :
                    each.medicineName}}) {{each.categoryName ? each.categoryName : ''}}{{each.units ? each.units : ''}}
                  </td>
                  <td class="col-md-1 col-sm-1 col-xs-1">
                    {{each.morning ? 1 : 0}}-{{each.noon? 1:0}}-{{each.night? 1: 0}}
                  </td>
                  <td class="col-md-1 col-sm-1 col-xs-1">
                    {{each.noOfDays}} Day(s)
                  </td>
                  <td class="col-md-1 col-sm-1 col-xs-1">
                    {{each.beforeFood ? "Before Food": "After Food"}} {{each.remarks?.toLowerCase().indexOf('food') > -1
                    ? '' : each.remarks}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12" style="padding: 25px; margin-top: 15px;"
        style=" border-top: none;padding-top: 10px;">
        <div style="text-align: right;">
          <strong style="width: 150px;"> Doctor Name: </strong>
          <span style="width: 250px;">{{user.name}}</span>
        </div>
        <div style="text-align: right;">
          <strong style="width: 150px;">Registration No: </strong>
          <span style="width: 250px;"> {{user.registrationNo}}</span>
        </div>
      </div>
    </div>
  </div>
</div>