<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title"> {{id ? 'Update' : 'Add'}} Procedure</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/doctor/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a routerLink="/doctor/all-procedure">Procedure</a>
            </li>
            <li class="breadcrumb-item active"> {{id ? 'Update' : 'Add'}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> {{id ? 'Update' : 'Add'}} Procedure</h2>
          </div>
          <div class="body">
            <form class="m-4" #f="ngForm">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Diagnosis</mat-label>
                    <input maxlength="25" matInput name="diagnosis" #diagnosis="ngModel" [(ngModel)]="model.diagnosis"
                      required>
                    <mat-error *ngIf="diagnosis.invalid && (diagnosis.dirty || diagnosis.touched)">
                      <span *ngIf="diagnosis.errors?.['required']"> Diagnosis is required</span>
                      <span *ngIf="diagnosis.errors?.['maxlength']"> Max Length is 25 characters</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput [owlDateTimeTrigger]="date2"
                      [owlDateTime]="date2" #date="ngModel" name="date"
                      [(ngModel)]="model.date" [min]="today">
                    <mat-icon matSuffix [owlDateTimeTrigger]="date2" class="date-icon">today</mat-icon>
                    <owl-date-time #date2></owl-date-time>
                     
                  </mat-form-field>
                </div> -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Procedure Name</mat-label>
                    <textarea maxlength="500" matInput name="procedurename" #procedurename="ngModel"
                      [(ngModel)]="model.procedurename" required>
                    </textarea>
                    <mat-error *ngIf="procedurename.invalid && (procedurename.dirty || procedurename.touched)">
                      <span *ngIf="procedurename.errors?.['required']"> Procedure Name is required</span>
                      <span *ngIf="procedurename.errors?.['maxlength']"> Max Length is 500</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label> Anesthesia</mat-label>
                    <input maxlength="500" matInput name="anesthesia" #anesthesia="ngModel"
                      [(ngModel)]="model.anesthesia" />
                    <mat-error *ngIf="anesthesia.invalid && (anesthesia.dirty || anesthesia.touched)">
                      <span *ngIf="anesthesia.errors?.['maxlength']"> Max Length is 500</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea maxlength="500" matInput name="description" #description="ngModel"
                      [(ngModel)]="model.description">
                    </textarea>
                    <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
                      <span *ngIf="description.errors?.['maxlength']"> Max Length is 500</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Complication</mat-label>
                    <textarea maxlength="500" matInput name="complication" #complication="ngModel"
                      [(ngModel)]="model.complication">
                    </textarea>
                    <mat-error *ngIf="complication.invalid && (complication.dirty || complication.touched)">
                      <span *ngIf="complication.errors?.['maxlength']"> Max Length is 500</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Others</mat-label>
                    <textarea maxlength="500" matInput name=" others" #others="ngModel" [(ngModel)]="model.others">
                    </textarea>
                    <mat-error *ngIf="others.invalid && (others.dirty || others.touched)">
                      <span *ngIf="others.errors?.['maxlength']"> Max Length is 500</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>ActualCost</mat-label>
                    <input type="number" maxlength="500" matInput name="actualcost" #actualcost="ngModel"
                      [(ngModel)]="model.actualCost" />
                    <mat-error *ngIf="actualcost.invalid && (actualcost.dirty || actualcost.touched)">
                      <span *ngIf="actualcost.errors?.['maxlength']"> Max Length is 500</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button *ngIf="!id" (click)="onSubmit()" class="btn-space" [disabled]="!f.form.valid "
                    mat-raised-button color="primary">Submit</button>
                  <button *ngIf="id" (click)="update()" class="btn-space" [disabled]="!f.form.valid " mat-raised-button
                    color="primary">Update</button>
                  <button routerLink="/doctor/all-procedure" type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>